@import "../../scss/index.scss";

.listItem {
  width: 225px;
  height: 120px;
  background-color: $primary-color;
  margin-right: 5px;
  overflow: hidden;
  color: white;

  img {
    width: 100%;
    object-fit: cover;
  }

  &:hover {
    width: 325px;
    height: 300px;
    position: absolute;
    top: -150px;
    img {
      display: none;
    }

    .itemInfo {
      display: flez;
      flex-direction: column;
      padding: 10px;

      .icons {
        display: flex;
        margin-bottom: 10px;

        .icon {
          border: 1px solid white;
          padding: 5px;
          border-radius: 50%;
          margin-right: 10px;
          font-size: 14px;
        }
      }

      .itemInfoTop {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        font-size: 13px;
        color: gray;

        .limit {
          border: 1px solid grey;
          padding: 1px 3px;
          margin: 0 10px;
        }
      }

      .desc {
        font-size: 13px;
        margin-bottom: 10px;
      }

      .genre {
        font-size: 14px;
        color: lightgray;
      }
    }
  }
}
